MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=
MONGODB_USER=portfolio
MONGODB_PASSWORD=
MONGODB_DATABASE=Portfolio

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=15
JWT_REFRESH_TOKEN_EXPIRES=30

TEST_USER_EMAIL=
TEST_USER_PASSWORD=
