FRONTEND_URL=                      # Frontend URL
FRONTEND_PORT=                     # Frontend Port
JWT_SECRET_KEY=                    # JWT key
JWT_ACCESS_TOKEN_EXPIRES=          # In minutes
JWT_REFRESH_TOKEN_EXPIRES=         # In days
JWT_COOKIE_SECURE=                 # True in prod, false in dev
JWT_COOKIE_SAMESITE=Strict
JWT_COOKIE_CSRF_PROTECT=           # True in prod, false in dev
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=27017
MONGODB_DATABASE=Portfolio
MONGODB_TIMEOUT=500